---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=3af12266e2913e9347cee2db36b37fe3&q=Sao%20Paulo,%20BR&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-46.64,"lat":-23.55},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":72.37,"feels_like":74.61,"temp_min":71.6,"temp_max":73.4,"pressure":1018,"humidity":83},"visibility":10000,"wind":{"speed":6.93,"deg":100},"clouds":{"all":75},"dt":1581906497,"sys":{"type":1,"id":8446,"country":"BR","sunrise":1581843296,"sunset":1581889599},"timezone":-10800,"id":3448439,"name":"Sao
        Paulo","cod":200}'
  recorded_at: Mon, 17 Feb 2020 02:32:34 GMT
recorded_with: VCR 5.1.0
